In [52]:
import pandas as pd

In [53]:
driver = pd.read_csv('datasets/driver_ids.csv')
ride = pd.read_csv('datasets/ride_ids.csv')
time = pd.read_csv('datasets/ride_timestamps.csv')

# Cleaning/Reformatting Datasets

### Driver

In [54]:
# change driver_oboard_date to datetime for easier manipulation 
driver['driver_onboard_date'] = pd.to_datetime(driver['driver_onboard_date'])

In [55]:
driver.head()

                          driver_id driver_onboard_date
0  002be0ffdc997bd5c50703158b7c2491          2016-03-29
1  007f0389f9c7b03ef97098422f902e62          2016-03-29
2  011e5c5dfc5c2c92501b8b24d47509bc          2016-04-05
3  0152a2f305e71d26cc964f8d4411add9          2016-04-23
4  01674381af7edd264113d4e6ed55ecda          2016-04-29

### Ride

In [56]:
# notes about prime time: https://help.lyft.com/hc/en-us/articles/115012926467-Prime-Time-for-drivers
# prime time is a PERCENTAGE, not a duration of time

In [57]:
ride['ride_prime_time'] = ride['ride_prime_time']/100

In [58]:
ride.columns = ['driver_id','ride_id','ride_distance (meters)','ride_duration (seconds)','ride_prime_time (percentage)']

In [59]:
ride['ride_distance (miles)'] = ride['ride_distance (meters)']/1609.344
ride['ride_duration (minutes)'] = ride['ride_duration (seconds)']/60
ride['cost (no_prime_time)'] = 1.75+2+ride['ride_distance (miles)']*1.15 + ride['ride_duration (minutes)']*.22
# should prime time percentage also account for base fare? probably, but double check
ride['cost w/ prime time'] = (2+ride['ride_distance (miles)']*1.15 + ride['ride_duration (minutes)']*.22)*(
    1+ride['ride_prime_time (percentage)'])+1.75

In [60]:
def cost_regulator(x):
    if x < 5:
        return 5
    elif x > 400:
        return 400 
    else:
        return x
ride['cost w/ prime time'] = ride['cost w/ prime time'].apply(cost_regulator)

In [61]:
ride['cost w/ prime time'] = ride['cost w/ prime time'].apply(cost_regulator)

In [62]:
ride.head()

,driver_id,ride_id,ride_distance (meters),ride_duration (seconds),ride_prime_time (percentage),ride_distance (miles),ride_duration (minutes),cost (no_prime_time),cost w/ prime time
0,002be0ffdc997bd5c50703158b7c2491,006d61cf7446e682f7bc50b0f8a5bea5,1811,327,0.50,1.125303,5.450000,6.243099,8.489648
1,002be0ffdc997bd5c50703158b7c2491,01b522c5c3a756fbdb12e95e87507eda,3362,809,0.00,2.089050,13.483333,9.118741,9.118741
2,002be0ffdc997bd5c50703158b7c2491,029227c4c2971ce69ff2274dc798ef43,3282,572,0.00,2.039340,9.533333,8.192575,8.192575
3,002be0ffdc997bd5c50703158b7c2491,034e861343a63ac3c18a9ceb1ce0ac69,65283,3338,0.25,40.564976,55.633333,62.639055,77.861319
4,002be0ffdc997bd5c50703158b7c2491,034f2e614a2f9fc7f1c2f77647d1b981,4115,823,1.00,2.556942,13.716667,9.708150,17.666301

### Ride Timestamps

In [63]:
time.head()

                            ride_id           event            timestamp
0  00003037a262d9ee40e61b5c0718f7f0    requested_at  2016-06-13 09:39:19
1  00003037a262d9ee40e61b5c0718f7f0     accepted_at  2016-06-13 09:39:51
2  00003037a262d9ee40e61b5c0718f7f0      arrived_at  2016-06-13 09:44:31
3  00003037a262d9ee40e61b5c0718f7f0    picked_up_at  2016-06-13 09:44:33
4  00003037a262d9ee40e61b5c0718f7f0  dropped_off_at  2016-06-13 10:03:05

In [64]:
# each ride_id has 5 events; requested_at, accepted_at, arrived_at, picked_up_at, dropped_off_at
# could figure out duration each step took for each person 
time['ride_id'].value_counts().unique()

array([5])

In [65]:
time['timestamp'] = pd.to_datetime(time['timestamp'])

In [66]:
# rather than having 5 rows for each driving thing, make 1 row with 5 data points
time.head()

                            ride_id           event           timestamp
0  00003037a262d9ee40e61b5c0718f7f0    requested_at 2016-06-13 09:39:19
1  00003037a262d9ee40e61b5c0718f7f0     accepted_at 2016-06-13 09:39:51
2  00003037a262d9ee40e61b5c0718f7f0      arrived_at 2016-06-13 09:44:31
3  00003037a262d9ee40e61b5c0718f7f0    picked_up_at 2016-06-13 09:44:33
4  00003037a262d9ee40e61b5c0718f7f0  dropped_off_at 2016-06-13 10:03:05

In [67]:
mod_time = time.pivot(index='ride_id', columns='event', values='timestamp').reset_index()

In [68]:
# idk how to get rid of event, IDC anymore
mod_time.index.name = None
mod_time.head()

event,ride_id,accepted_at,arrived_at,dropped_off_at,picked_up_at,requested_at
0,00003037a262d9ee40e61b5c0718f7f0,2016-06-13 09:39:51,2016-06-13 09:44:31,2016-06-13 10:03:05,2016-06-13 09:44:33,2016-06-13 09:39:19
1,00005eae40882760d675da5effb89ae3,2016-05-14 05:23:25,2016-05-14 05:26:17,2016-05-14 05:34:17,2016-05-14 05:26:18,2016-05-14 05:23:21
2,000061d42cf29f73b591041d9a1b2973,2016-05-16 15:43:14,2016-05-16 15:47:29,2016-05-16 15:54:18,2016-05-16 15:47:32,2016-05-16 15:43:09
3,00006efeb0d5e3ccad7d921ddeee9900,2016-05-11 19:29:43,2016-05-11 19:35:11,2016-05-11 19:40:47,2016-05-11 19:35:15,2016-05-11 19:29:36
4,0000d9b24d8ccdd991b76258e616fa01,2016-04-26 18:12:15,2016-04-26 18:16:52,2016-04-26 18:24:14,2016-04-26 18:16:55,2016-04-26 18:11:38

In [69]:
mod_time = mod_time[['ride_id','requested_at','accepted_at','arrived_at','picked_up_at','dropped_off_at']]

In [70]:
mod_time.head()

event,ride_id,requested_at,accepted_at,arrived_at,picked_up_at,dropped_off_at
0,00003037a262d9ee40e61b5c0718f7f0,2016-06-13 09:39:19,2016-06-13 09:39:51,2016-06-13 09:44:31,2016-06-13 09:44:33,2016-06-13 10:03:05
1,00005eae40882760d675da5effb89ae3,2016-05-14 05:23:21,2016-05-14 05:23:25,2016-05-14 05:26:17,2016-05-14 05:26:18,2016-05-14 05:34:17
2,000061d42cf29f73b591041d9a1b2973,2016-05-16 15:43:09,2016-05-16 15:43:14,2016-05-16 15:47:29,2016-05-16 15:47:32,2016-05-16 15:54:18
3,00006efeb0d5e3ccad7d921ddeee9900,2016-05-11 19:29:36,2016-05-11 19:29:43,2016-05-11 19:35:11,2016-05-11 19:35:15,2016-05-11 19:40:47
4,0000d9b24d8ccdd991b76258e616fa01,2016-04-26 18:11:38,2016-04-26 18:12:15,2016-04-26 18:16:52,2016-04-26 18:16:55,2016-04-26 18:24:14

In [71]:
# how long a person had to wait before someone accepted their ride request
mod_time['duration_request_to_accept'] = mod_time['accepted_at']-mod_time['requested_at']
# how long it took driver to drive to location of person
mod_time['duration_accept_to_arrive'] = mod_time['arrived_at']-mod_time['accepted_at']
# how long the driver waited for the person to get into the car
mod_time['duration_arrived_to_pickup'] = mod_time['picked_up_at']-mod_time['arrived_at']
# how long the actual trip was 
mod_time['duration_ride'] = mod_time['dropped_off_at']-mod_time['picked_up_at']

In [72]:
mod_time.head()

event,ride_id,requested_at,accepted_at,arrived_at,picked_up_at,dropped_off_at,duration_request_to_accept,duration_accept_to_arrive,duration_arrived_to_pickup,duration_ride
0,00003037a262d9ee40e61b5c0718f7f0,2016-06-13 09:39:19,2016-06-13 09:39:51,2016-06-13 09:44:31,2016-06-13 09:44:33,2016-06-13 10:03:05,00:00:32,00:04:40,00:00:02,00:18:32
1,00005eae40882760d675da5effb89ae3,2016-05-14 05:23:21,2016-05-14 05:23:25,2016-05-14 05:26:17,2016-05-14 05:26:18,2016-05-14 05:34:17,00:00:04,00:02:52,00:00:01,00:07:59
2,000061d42cf29f73b591041d9a1b2973,2016-05-16 15:43:09,2016-05-16 15:43:14,2016-05-16 15:47:29,2016-05-16 15:47:32,2016-05-16 15:54:18,00:00:05,00:04:15,00:00:03,00:06:46
3,00006efeb0d5e3ccad7d921ddeee9900,2016-05-11 19:29:36,2016-05-11 19:29:43,2016-05-11 19:35:11,2016-05-11 19:35:15,2016-05-11 19:40:47,00:00:07,00:05:28,00:00:04,00:05:32
4,0000d9b24d8ccdd991b76258e616fa01,2016-04-26 18:11:38,2016-04-26 18:12:15,2016-04-26 18:16:52,2016-04-26 18:16:55,2016-04-26 18:24:14,00:00:37,00:04:37,00:00:03,00:07:19

### Merged Datasets

In [73]:
driver_merge = driver

In [74]:
ride_merge = ride[['driver_id','ride_id','ride_distance (miles)', 'ride_duration (minutes)', 
                   'ride_prime_time (percentage)','cost w/ prime time']]

In [75]:
time_merge = mod_time

#### Merging based off of driver's id

In [76]:
# there are NO repeats of driver id's 
# there are 937 id's 
driver_merge['driver_id'].value_counts().unique()
len(driver_merge['driver_id'].unique())

937

In [77]:
len(ride_merge)

193502

In [78]:
# there are 937 id's (should be safe to assume they're the same driver_id's, HOWEVER double check that the merge 
# works properly; merge should have same length as ride_merge)
len(ride_merge['driver_id'].unique())

937

In [96]:
first_merge = ride_merge.merge(driver_merge, how = 'outer')
first_merge.head()

,driver_id,ride_id,ride_distance (miles),ride_duration (minutes),ride_prime_time (percentage),cost w/ prime time,driver_onboard_date
0,002be0ffdc997bd5c50703158b7c2491,006d61cf7446e682f7bc50b0f8a5bea5,1.125303,5.450000,0.50,8.489648,2016-03-29
1,002be0ffdc997bd5c50703158b7c2491,01b522c5c3a756fbdb12e95e87507eda,2.089050,13.483333,0.00,9.118741,2016-03-29
2,002be0ffdc997bd5c50703158b7c2491,029227c4c2971ce69ff2274dc798ef43,2.039340,9.533333,0.00,8.192575,2016-03-29
3,002be0ffdc997bd5c50703158b7c2491,034e861343a63ac3c18a9ceb1ce0ac69,40.564976,55.633333,0.25,77.861319,2016-03-29
4,002be0ffdc997bd5c50703158b7c2491,034f2e614a2f9fc7f1c2f77647d1b981,2.556942,13.716667,1.00,17.666301,2016-03-29

In [103]:
all_info = ride_merge.merge(driver_merge, how = 'inner')
len(all_info)

185891

In [80]:
len(first_merge)

193585

In [81]:
# we dont have a start date for these rides 
no_start_date = first_merge[first_merge['driver_onboard_date'].isnull()]
no_start_date.head()

,driver_id,ride_id,ride_distance (miles),ride_duration (minutes),ride_prime_time (percentage),cost w/ prime time,driver_onboard_date
3687,056175954c78be4c4de7e80167b7e1f9,0488679087be6f76612dfc9ecba227e5,1.285617,6.783333,0.0,6.720793,NaT
3688,056175954c78be4c4de7e80167b7e1f9,060d6b3e4916e1aec8cc1e746f6fd87e,1.048875,6.150000,0.0,6.309206,NaT
3689,056175954c78be4c4de7e80167b7e1f9,075f23b3edafd5020837b14b79d7b9e8,8.010096,21.933333,0.0,17.786944,NaT
3690,056175954c78be4c4de7e80167b7e1f9,0d4727f995ee19c0ed4654b0a5a82176,1.282510,7.216667,0.0,6.812553,NaT
3691,056175954c78be4c4de7e80167b7e1f9,0f1f969a4ddc30c8c9c14509156e3149,2.491698,15.733333,0.0,10.076787,NaT

In [100]:
# 83 drivers dont have driver data
len(no_start_date['driver_id'].unique())

83

In [82]:
driver_that_has_no_rides = first_merge[first_merge['ride_id'].isnull()]
driver_that_has_no_rides.head()

,driver_id,ride_id,ride_distance (miles),ride_duration (minutes),ride_prime_time (percentage),cost w/ prime time,driver_onboard_date
193502,01788cf817698fe68eaecd7eb18b2f72,NaN,NaN,NaN,NaN,NaN,2016-05-06
193503,133faf644d5cfee9460b87eea4367f92,NaN,NaN,NaN,NaN,NaN,2016-04-08
193504,13fe6713788e9b63f57950320f260512,NaN,NaN,NaN,NaN,NaN,2016-05-05
193505,146cd888491dd0f348575244f5bbc24e,NaN,NaN,NaN,NaN,NaN,2016-04-16
193506,1585fa96f0818e8f4d1cf826b332fda4,NaN,NaN,NaN,NaN,NaN,2016-05-06

In [98]:
# 83 drivers haven't driven any rides 
len(driver_that_has_no_rides)

83

#### merging based off of ride id

In [83]:
len(ride_merge['ride_id'].unique())

193502

In [84]:
# has extra rides that you don't have data for 
len(time_merge['ride_id'].unique())

194081

In [85]:
second_merge = ride_merge.merge(time_merge, how = 'outer')

In [86]:
len(second_merge)

202764

In [87]:
no_time_data = second_merge[second_merge['requested_at'].isnull()]
no_time_data.head()

,driver_id,ride_id,ride_distance (miles),ride_duration (minutes),ride_prime_time (percentage),cost w/ prime time,requested_at,accepted_at,arrived_at,picked_up_at,dropped_off_at,duration_request_to_accept,duration_accept_to_arrive,duration_arrived_to_pickup,duration_ride
3687,056175954c78be4c4de7e80167b7e1f9,0488679087be6f76612dfc9ecba227e5,1.285617,6.783333,0.0,6.720793,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT
3688,056175954c78be4c4de7e80167b7e1f9,060d6b3e4916e1aec8cc1e746f6fd87e,1.048875,6.150000,0.0,6.309206,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT
3689,056175954c78be4c4de7e80167b7e1f9,075f23b3edafd5020837b14b79d7b9e8,8.010096,21.933333,0.0,17.786944,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT
3690,056175954c78be4c4de7e80167b7e1f9,0d4727f995ee19c0ed4654b0a5a82176,1.282510,7.216667,0.0,6.812553,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT
3691,056175954c78be4c4de7e80167b7e1f9,0f1f969a4ddc30c8c9c14509156e3149,2.491698,15.733333,0.0,10.076787,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT

In [88]:
no_driver_data = second_merge[second_merge['driver_id'].isnull()]
no_driver_data.head()

,driver_id,ride_id,ride_distance (miles),ride_duration (minutes),ride_prime_time (percentage),cost w/ prime time,requested_at,accepted_at,arrived_at,picked_up_at,dropped_off_at,duration_request_to_accept,duration_accept_to_arrive,duration_arrived_to_pickup,duration_ride
193502,NaN,0000d9b24d8ccdd991b76258e616fa01,NaN,NaN,NaN,NaN,2016-04-26 18:11:38,2016-04-26 18:12:15,2016-04-26 18:16:52,2016-04-26 18:16:55,2016-04-26 18:24:14,00:00:37,00:04:37,00:00:03,00:07:19
193503,NaN,0007f92b090f91c4041c94bc2d6786e2,NaN,NaN,NaN,NaN,2016-06-12 19:51:31,2016-06-12 19:51:34,2016-06-12 19:57:14,2016-06-12 19:57:17,2016-06-12 20:05:53,00:00:03,00:05:40,00:00:03,00:08:36
193504,NaN,000df1956ee502d18e6cc9e868e4c33d,NaN,NaN,NaN,NaN,2016-06-02 13:35:23,2016-06-02 13:36:00,2016-06-02 13:39:27,2016-06-02 13:39:30,2016-06-02 13:52:10,00:00:37,00:03:27,00:00:03,00:12:40
193505,NaN,001a1894b75a309bb38937a6a34e1daa,NaN,NaN,NaN,NaN,2016-04-23 01:36:38,2016-04-23 01:36:42,2016-04-23 01:38:44,2016-04-23 01:38:47,2016-04-23 01:48:23,00:00:04,00:02:02,00:00:03,00:09:36
193506,NaN,001ecbf5d093387dc2870b9ad336be00,NaN,NaN,NaN,NaN,2016-06-09 16:27:43,2016-06-09 16:28:13,2016-06-09 16:39:39,2016-06-09 16:39:41,2016-06-09 16:55:29,00:00:30,00:11:26,00:00:02,00:15:48

In [89]:
# WHAT DO WE DO WITH MISSING DATA? GET RID OF IT, MAYBE DO SOME EXTRA ANALYSIS ON IT

In [113]:
# EXTRA SHIT 
test = all_info.merge(time_merge, how = 'inner')
len(test)

184209

In [118]:
test.head()

,driver_id,ride_id,ride_distance (miles),ride_duration (minutes),ride_prime_time (percentage),cost w/ prime time,driver_onboard_date,requested_at,accepted_at,arrived_at,picked_up_at,dropped_off_at,duration_request_to_accept,duration_accept_to_arrive,duration_arrived_to_pickup,duration_ride
0,002be0ffdc997bd5c50703158b7c2491,006d61cf7446e682f7bc50b0f8a5bea5,1.125303,5.450000,0.50,8.489648,2016-03-29,2016-04-23 02:13:50,2016-04-23 02:14:15,2016-04-23 02:16:36,2016-04-23 02:16:40,2016-04-23 02:22:07,00:00:25,00:02:21,00:00:04,00:05:27
1,002be0ffdc997bd5c50703158b7c2491,01b522c5c3a756fbdb12e95e87507eda,2.089050,13.483333,0.00,9.118741,2016-03-29,2016-03-29 19:00:49,2016-03-29 19:00:52,2016-03-29 19:03:57,2016-03-29 19:04:01,2016-03-29 19:17:30,00:00:03,00:03:05,00:00:04,00:13:29
2,002be0ffdc997bd5c50703158b7c2491,029227c4c2971ce69ff2274dc798ef43,2.039340,9.533333,0.00,8.192575,2016-03-29,2016-06-21 11:56:31,2016-06-21 11:56:39,2016-06-21 12:01:32,2016-06-21 12:01:35,2016-06-21 12:11:07,00:00:08,00:04:53,00:00:03,00:09:32
3,002be0ffdc997bd5c50703158b7c2491,034e861343a63ac3c18a9ceb1ce0ac69,40.564976,55.633333,0.25,77.861319,2016-03-29,2016-05-19 09:15:29,2016-05-19 09:15:33,2016-05-19 09:18:20,2016-05-19 09:18:20,2016-05-19 10:13:58,00:00:04,00:02:47,00:00:00,00:55:38
4,002be0ffdc997bd5c50703158b7c2491,034f2e614a2f9fc7f1c2f77647d1b981,2.556942,13.716667,1.00,17.666301,2016-03-29,2016-04-20 22:05:30,2016-04-20 22:05:32,2016-04-20 22:07:03,2016-04-20 22:07:02,2016-04-20 22:20:45,00:00:02,00:01:31,-1 days +23:59:59,00:13:43

In [129]:
part_one = pd.DataFrame(test.groupby('driver_id')['driver_onboard_date'].min()).reset_index()

In [130]:
part_two = pd.DataFrame(test.groupby('driver_id')['dropped_off_at'].max()).reset_index()

In [131]:
get_fucked = part_one.merge(part_two)
get_fucked.head()

                          driver_id driver_onboard_date      dropped_off_at
0  002be0ffdc997bd5c50703158b7c2491          2016-03-29 2016-06-23 10:29:53
1  007f0389f9c7b03ef97098422f902e62          2016-03-29 2016-06-22 13:28:38
2  011e5c5dfc5c2c92501b8b24d47509bc          2016-04-05 2016-06-12 20:30:38
3  0152a2f305e71d26cc964f8d4411add9          2016-04-23 2016-06-26 10:36:13
4  01674381af7edd264113d4e6ed55ecda          2016-04-29 2016-06-24 13:27:38

In [135]:
get_fucked['life_expectancy'] = get_fucked['dropped_off_at']-get_fucked['driver_onboard_date']

In [136]:
get_fucked.head()

,driver_id,driver_onboard_date,dropped_off_at,life_expectancy
0,002be0ffdc997bd5c50703158b7c2491,2016-03-29,2016-06-23 10:29:53,86 days 10:29:53
1,007f0389f9c7b03ef97098422f902e62,2016-03-29,2016-06-22 13:28:38,85 days 13:28:38
2,011e5c5dfc5c2c92501b8b24d47509bc,2016-04-05,2016-06-12 20:30:38,68 days 20:30:38
3,0152a2f305e71d26cc964f8d4411add9,2016-04-23,2016-06-26 10:36:13,64 days 10:36:13
4,01674381af7edd264113d4e6ed55ecda,2016-04-29,2016-06-24 13:27:38,56 days 13:27:38